<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.alsapp.dao.AGoodsDictMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.alsapp.entity.AGoodsDict">
    <id column="dict_id" jdbcType="INTEGER" property="dictId" />
    <result column="dict_type" jdbcType="VARCHAR" property="dictType" />
    <result column="dict_item" jdbcType="VARCHAR" property="dictItem" />
    <result column="dict_pid" jdbcType="INTEGER" property="dictPid" />
    <result column="dict_status" jdbcType="INTEGER" property="dictStatus" />
    <result column="dict_type_imgs" jdbcType="VARCHAR" property="dictTypeImgs" />
    <result column="dict_item_imgs" jdbcType="VARCHAR" property="dictItemImgs" />
  </resultMap>
  <sql id="Base_Column_List">
    dict_id, dict_type, dict_item, dict_pid, dict_status, dict_type_imgs, dict_item_imgs
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from a_goods_dict
    where dict_id = #{dictId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from a_goods_dict
    where dict_id = #{dictId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.alsapp.entity.AGoodsDict">
    insert into a_goods_dict (dict_id, dict_type, dict_item, 
      dict_pid, dict_status, dict_type_imgs, 
      dict_item_imgs)
    values (#{dictId,jdbcType=INTEGER}, #{dictType,jdbcType=VARCHAR}, #{dictItem,jdbcType=VARCHAR}, 
      #{dictPid,jdbcType=INTEGER}, #{dictStatus,jdbcType=INTEGER}, #{dictTypeImgs,jdbcType=VARCHAR}, 
      #{dictItemImgs,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.alsapp.entity.AGoodsDict">
    insert into a_goods_dict
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dictId != null">
        dict_id,
      </if>
      <if test="dictType != null">
        dict_type,
      </if>
      <if test="dictItem != null">
        dict_item,
      </if>
      <if test="dictPid != null">
        dict_pid,
      </if>
      <if test="dictStatus != null">
        dict_status,
      </if>
      <if test="dictTypeImgs != null">
        dict_type_imgs,
      </if>
      <if test="dictItemImgs != null">
        dict_item_imgs,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dictId != null">
        #{dictId,jdbcType=INTEGER},
      </if>
      <if test="dictType != null">
        #{dictType,jdbcType=VARCHAR},
      </if>
      <if test="dictItem != null">
        #{dictItem,jdbcType=VARCHAR},
      </if>
      <if test="dictPid != null">
        #{dictPid,jdbcType=INTEGER},
      </if>
      <if test="dictStatus != null">
        #{dictStatus,jdbcType=INTEGER},
      </if>
      <if test="dictTypeImgs != null">
        #{dictTypeImgs,jdbcType=VARCHAR},
      </if>
      <if test="dictItemImgs != null">
        #{dictItemImgs,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.alsapp.entity.AGoodsDict">
    update a_goods_dict
    <set>
      <if test="dictType != null">
        dict_type = #{dictType,jdbcType=VARCHAR},
      </if>
      <if test="dictItem != null">
        dict_item = #{dictItem,jdbcType=VARCHAR},
      </if>
      <if test="dictPid != null">
        dict_pid = #{dictPid,jdbcType=INTEGER},
      </if>
      <if test="dictStatus != null">
        dict_status = #{dictStatus,jdbcType=INTEGER},
      </if>
      <if test="dictTypeImgs != null">
        dict_type_imgs = #{dictTypeImgs,jdbcType=VARCHAR},
      </if>
      <if test="dictItemImgs != null">
        dict_item_imgs = #{dictItemImgs,jdbcType=VARCHAR},
      </if>
    </set>
    where dict_id = #{dictId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.alsapp.entity.AGoodsDict">
    update a_goods_dict
    set dict_type = #{dictType,jdbcType=VARCHAR},
      dict_item = #{dictItem,jdbcType=VARCHAR},
      dict_pid = #{dictPid,jdbcType=INTEGER},
      dict_status = #{dictStatus,jdbcType=INTEGER},
      dict_type_imgs = #{dictTypeImgs,jdbcType=VARCHAR},
      dict_item_imgs = #{dictItemImgs,jdbcType=VARCHAR}
    where dict_id = #{dictId,jdbcType=INTEGER}
  </update>

  <select id="selectClassify" resultMap="BaseResultMap">
    select * from a_goods_dict
  </select>
</mapper>